; COPY THIS FILE AND MODIFY IT TO SUIT YOUR NEEDS
;
; Please note, with the new ini reader loading this file is not required if you want to use the compiled defaults. 
; See params.def for a listing of the compiled defaults and the variable descriptions

NUM_CHANS=4
JEDEC_DATA_BUS_BITS=64
TRANS_QUEUE_DEPTH=64
CMD_QUEUE_DEPTH=64
EPOCH_LENGTH=100000
ROW_BUFFER_POLICY=OpenPage
ADDRESS_MAPPING_SCHEME=Scheme7
SCHEDULING_POLICY=RankThenBankRoundRobin
QUEUING_STRUCTURE=PerRank


DEBUG_TRANS_Q=false
DEBUG_CMD_Q=false
DEBUG_ADDR_MAP=false
DEBUG_BUS=false
DEBUG_BANKSTATE=false
DEBUG_BANKS=false
DEBUG_POWER=false
VIS_FILE_OUTPUT=true

USE_LOW_POWER=true 
VERIFICATION_OUTPUT=false
TOTAL_ROW_ACCESSES=4	
